section.clubs
  ul.clubs__list
    li.clubs__club
      a.clubs__anchor(href=pageUrl('clubs/breakfast-club.jade'))
        img.clubs__image(src=assetUrl('images/munch-flakes.png'))
        h2.clubs__name Breakfast Club
        p.clubs__description A scrumptious breakfast to start the school day
        p.clubs__info Learn more
        p.clubs__price Sessions from £4.50
    li.clubs__club
      a.clubs__anchor(href=pageUrl('clubs/after-school-club.jade'))
        img.clubs__image(src=assetUrl('images/dragon.png'))
        h2.clubs__name After School Club
        p.clubs__description A fun place to wind down after school
        p.clubs__info Learn more
        p.clubs__price Sessions from £10.00
    li.clubs__club
      a.clubs__anchor(href=pageUrl('clubs/holiday-club.jade'))
        img.clubs__image(src=assetUrl('images/cooking.png'))
        h2.clubs__name Holiday Club
        p.clubs__description All day play during the school holidays
        p.clubs__info Learn more
        p.clubs__price Sessions from £15.50
