footer.footer
  div.footer__container
    div.footer__main
      section.footer__find-us
        h3.footer__heading Find us on
        ul.footer__networks
          li.footer__network.footer__network--facebook
            a.footer__network-link(href=facebook.site) Facebook
          li.footer__network.footer__network--twitter
            a.footer__network-link(href=twitter.site) Twitter
          li.footer__network.footer__network--instagram
            a.footer__network-link(href=instagram.site) Instagram
          li.footer__network.footer__network--youtube
            a.footer__network-link(href=youtube.site) YouTube
      nav.footer__useful-links
        h3.footer__heading Useful links
        div.footer__items-group
          ul.footer__items
            li.footer__item
              a.footer__link(href=pageUrl('about/index.pug')) About Sparks
            li.footer__item
              a.footer__link(href=pageUrl('clubs/index.pug')) Our clubs
            li.footer__item
              a.footer__link(href=pageUrl('about/policies-procedures/index.pug')) Policies & procedures
            li.footer__item
              a.footer__link(href=pageUrl('about/team.pug')) Meet our team
          ul.footer__items
            li.footer__item
              a.footer__link(href=pageUrl('clubs/after-school-club.pug')) After School Club
            li.footer__item
              a.footer__link(href=pageUrl('clubs/holiday-club.pug')) Holiday Club
            li.footer__item
              a.footer__link(href=pageUrl('about/registration-booking.pug')) Registration & booking
            li.footer__item
              a.footer__link(href=pageUrl('about/terms.pug')) Terms & conditions
      section.footer__location
        h3.footer__heading Our address
        a.footer__location-link(href=map.office)
          address.footer__location-address
            div Sparks Co-operative Ltd
            div Unit 17
            div The Coach House
            div 2 Upper York St
            div Bristol BS2 8QN
          div.footer__location-map See us on a map
    div.footer__footer
      div.footer__organisation
        section.footer__contacts
          div.footer__contact.footer__contact--phone
            a.footer__contact-link(href='tel:01179244439') 0117 924 4439
          div.footer__contact.footer__contact--email
            a.footer__contact-link(href='mailto:coopsparks@gmail.com') coopsparks@gmail.com
          div.footer__contact.footer__contact--map
            a.footer__contact-link(href=map.office) See us on a map
        section.footer__legal
          div.footer__copyright © #{new Date().getUTCFullYear()} Sparks Co-operative Ltd
          a.footer__company(href='https://beta.companieshouse.gov.uk/company/05295308') Company no. 05295308
      div.footer__affiliates
        a.footer__affiliate(href='http://www.bigpotential.org.uk')
          img.footer__affiliate-image(src=assetUrl('images/big-potential.svg'))
