title= pageTitle
meta(charset='utf-8')
meta(name='viewport' content='width=device-width, initial-scale=1')
meta(name='format-detection' content='telephone=no')
meta(name='description' content=pageDescription)
meta(name='keywords' content=pageKeywords)

//- facebook
meta(name='og:description' content=pageDescription)
meta(name='og:site_name' content=meta.title)
meta(name='og:title' content=pageTitle)
meta(name='og:type' content='website')
meta(name='og:url' content=canonical)

//- twitter
meta(name='twitter:card' content='summary')
meta(name='twitter:description' content=pageDescription)
meta(name='twitter:site' content=twitter.site)
meta(name='twitter:title' content=pageTitle)

if host
  link(rel='canonical' href=canonical)
