---
title: 5 Creative Activities for Children
summary: During After School Club, our crafting and cooking activities are always extremely popular. If you follow our Facebook page, you’ll know just how much the children love getting creative and messy! We’re always thinking up new activities to ignite the children’s imaginations but there are several favourites that they ask to do again and again!
description: During After School Club, our crafting and cooking activities are always extremely popular. If you follow our Facebook page, you’ll know just how much the children love getting creative and messy! We’re always thinking up new activities to ignite the children’s imaginations but there are several favourites that they ask to do again and again!
date: 2018-04-12
---

extends ../layouts/post

block append foot
  include ../includes/zoom-image

block body
  div.content
    p During After School Club, our crafting and cooking activities are always extremely popular. 
    p If you follow our #[a(href=facebook.site) Facebook page], you’ll know just how much the children love getting creative and messy! We’re always thinking up new activities to ignite the children’s imaginations but there are several favourites that they ask to do again and again! 
    p We’ve compiled a list of the five most popular activities, with all the info you need to recreate them at home.
    
    div.content__gallery
      div.content__gallery-item(style='flex: 2')
        img.content__gallery-image.js-zoom(src=assetUrl('images/photos/2018-04-12_23-00-01.jpg'))
      div.content__gallery-item(style='flex: 3')
        img.content__gallery-image.js-zoom(src=assetUrl('images/photos/2018-04-12_23-00-02.jpg'))
      div.content__gallery-item(style='flex: 2')
        img.content__gallery-image.js-zoom(src=assetUrl('images/photos/2018-04-12_23-00-03.jpg'))
    
    section
      h2 Slime
      p At the top of our list has to be SLIME! Who would’ve thought that bicarbonate of soda, PVA glue, contact lens solution and a bit of food colouring would bring so much joy?! During our February half term #[a(href=pageUrl('clubs/holiday-club.pug')) Holiday Club], slime-making won by a landslide during our “kids take over” session, where we let the children chose the activity. See our recent #[a(href='https://www.instagram.com/p/BenJ419FxlI/?taken-by=sparksplayandcare') Instagram post] for step by step instructions on how you can make slime at home.
      
      <blockquote class="instagram-media" data-instgrm-captioned data-instgrm-permalink="https://www.instagram.com/p/BenJ419FxlI/" data-instgrm-version="8" style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:658px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);"><div style="padding:8px;"> <div style=" background:#F8F8F8; line-height:0; margin-top:40px; padding:50.0% 0; text-align:center; width:100%;"> <div style=" background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAMUExURczMzPf399fX1+bm5mzY9AMAAADiSURBVDjLvZXbEsMgCES5/P8/t9FuRVCRmU73JWlzosgSIIZURCjo/ad+EQJJB4Hv8BFt+IDpQoCx1wjOSBFhh2XssxEIYn3ulI/6MNReE07UIWJEv8UEOWDS88LY97kqyTliJKKtuYBbruAyVh5wOHiXmpi5we58Ek028czwyuQdLKPG1Bkb4NnM+VeAnfHqn1k4+GPT6uGQcvu2h2OVuIf/gWUFyy8OWEpdyZSa3aVCqpVoVvzZZ2VTnn2wU8qzVjDDetO90GSy9mVLqtgYSy231MxrY6I2gGqjrTY0L8fxCxfCBbhWrsYYAAAAAElFTkSuQmCC); display:block; height:44px; margin:0 auto -44px; position:relative; top:-22px; width:44px;"></div></div> <p style=" margin:8px 0 0 0; padding:0 4px;"> <a href="https://www.instagram.com/p/BenJ419FxlI/" style=" color:#000; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none; word-wrap:break-word;" target="_blank">Slime recipe we used and the kids loved it!!! . . . #slime #slimerecipe #craft #craftideas #slimetutorial #kidscraft #kids #children #happy #holidayclub #afterschoolclub #crafty #crafts #messyplay #play #playing #playideas</a></p> <p style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;">A post shared by <a href="https://www.instagram.com/sparksplayandcare/" style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px;" target="_blank"> Sparks Play &amp; Care</a> (@sparksplayandcare) on <time style=" font-family:Arial,sans-serif; font-size:14px; line-height:17px;" datetime="2018-01-31T11:14:51+00:00">Jan 31, 2018 at 3:14am PST</time></p></div></blockquote> <script async defer src="//www.instagram.com/embed.js"></script>
    
    section
      h2 Den Building
      p You or I might see a pile of old boxes, rope, tubes and sheets as clutter and rubbish, but to the children of Sparks the cardboard becomes ancient stone walls of a medieval castle or wooden ship with the sheet a pirate’s flag. Tubes make a perfect ship’s mast or jousting stick!
      p They also love creating tunnels between dens! We regularly visit the #[a(href='http://www.childrensscrapstore.co.uk/') Children’s Scrapstore] to stock up on arts and crafts materials. If you haven't already visited then we highly recommend a trip to the Scrapstore to top up your own arts and crafts material cupboards. It’s an exciting Aladdin's cave of scrap materials perfect for creative play.
    
    section
      h2 Face Painting
      p Children love to play with their identity and there is no better way than having your face painted. We buy our supplies from Children’s Scrapstore as they stock the good quality ones. Be careful of the cheap ones as they can stain children’s skin.
      
      div.content__gallery
        div.content__gallery-item(style='flex: 3')
          img.content__gallery-image.js-zoom(src=assetUrl('images/photos/2018-04-12_23-00-00.jpg'))
        div.content__gallery-item(style='flex: 2')
          img.content__gallery-image.js-zoom(src=assetUrl('images/photos/2018-04-12_23-00-04.jpg'))
    
    section
      h2 Sushi Making
      p The children really love to cook and they get huge satisfaction from eating the treats they make themselves! 
      p We make all sorts of dishes, from Santa cupcakes to tiger-shaped pizzas, but one of the most popular cooking tasks is making sushi. We prepare a variety of veggies in separate bowls so the children can design their own perfect combination to make their sushi unique. Here are some ideas and instructions of #[a(href='https://www.taste.com.au/recipes/sushi-kids/ba9ef322-8c95-4d4a-a364-1b8c6448efec') how to make sushi at home with your children].  
    
    section
      h2 Science Experiments
      p The children love nothing more than becoming scientists! They’re forever asking us to come up with new, creative science experiments for them to investigate.
      p Here’s how to make #[a(href='https://www.google.co.uk/amp/s/m.wikihow.com/Make-Elephant-Toothpaste%3famp=1') elephant’s toothpaste], an experiment where a chemical reaction causes thick foam to shoot out of a bottle! It’s easy and loads of fun! 
      p Another popular one is #[a(href='https://www.homesciencetools.com/article/how-to-make-a-homemade-lava-lamp-science-project/') homemade lava lamps]; all you need to make a lava lamp is vegetable oil, food colouring, water and an Alka-Seltzer... the results are mesmerising! 

    p
      em What are your favourite creative activities for children? We’d love to hear your ideas and maybe try them out at our clubs. #[a(href=facebook.site) Let us know your thoughts on Facebook]!
