---
title: Back To School!
summary: This time of year never fails to evoke a feeling of childhood nostalgia in us all. Whatever age you are, I don't think those memories of anticipation and mixed emotions for the start of a new school year ever leave us.
description: This time of year never fails to evoke a feeling of childhood nostalgia in us all. Whatever age you are, I don't think those memories of anticipation and mixed emotions for the start of a new school year ever leave us.
date: 2017-09-21
---

extends ../layouts/post

block body
  div.content
    p This time of year never fails to evoke a feeling of childhood nostalgia in us all. Whatever age you are, I don't think those memories of anticipation and mixed emotions for the start of a new school year ever leave us. A crisp new uniform hanging in the wardrobe with shiny new school shoes, a brand new pencil case filled with stationary waiting to be opened! However brilliant your summer holibobs had been there was always a definite sense of readiness and excitement to get back to school and back into your normal routine, and to catch up with your friends and make new ones… or perhaps I was just a massive geek! 
    
    div.content__gallery
      div.content__gallery-item(style='flex: 1')
        img.content__gallery-image.js-zoom(src=assetUrl('images/photos/2017-09-21_10-50-00.jpg'))
      div.content__gallery-item(style='flex: 1')
        img.content__gallery-image.js-zoom(src=assetUrl('images/photos/2017-09-21_10-50-01.jpg'))
          
    p Anyway back to the here and now… for us, this summer has been epic! Our #[a(href=pageUrl('clubs/holiday-club.pug')) Holiday Club] and #[a(href=pageUrl('clubs/taningua.pug')) Taningua Clubs] have been more popular and fun than ever, filled with face painting, days at the seaside, water parks, hanging out with pirates at the harbourside and bucketloads of fun in the sun! 
    p Now the team is ready for the ever-popular term-time breakfast and after school clubs to begin again.
    p Our #[a(href=pageUrl('clubs/breakfast-club.pug')) Breakfast Club] is for children who attend Sefton Park and Brunel Fields primary schools, which is held at ‘The Scout Hut’ next door to Sefton Park. Breakfast Club is a great way for children to start the day; in addition to a scrummy, healthy brekkie we provide a variety of toys and games, and encourage creativity and #[a(href=pageUrl('blog/benefits-of-free-play.pug')) free-play] to ease the children into their school day. 
    p Our hugely popular #[a(href=pageUrl('clubs/after-school-club.pug')) After School Clubs] are where children from Sefton Park, Brunel Fields, Fairlawn and Dolphin Schools come to have fun, play and blow away those classroom cobwebs after the school day. We organise craft and cooking activities as well as providing plenty of games, toys, books and sports equipment, and we take a child-led approach whereby children are encouraged to choose how they spend their time. 
    p Please #[a(href=pageUrl('about/registration-booking.pug')) click here] for more information on how to book your children on one of our clubs. 
    p In addition to our day-to-day activities, we’re now busy planning our October half-term Holiday Club. Bookings will open on 26th September, and you can book before 10th October to receive 10% early bird discount.  
