---
title: 'The benefits of free play: Why we take a child-led approach at Sparks'
summary: At Sparks, we believe in giving children the opportunity for ‘free play’, as well as providing optional planned activities. Free play means making independent decisions rather than seeking adult direction, and it can be incredibly beneficial for childhood development.
description: At Sparks, we believe in giving children the opportunity for ‘free play’, as well as providing optional planned activities. Free play means making independent decisions rather than seeking adult direction, and it can be incredibly beneficial for childhood development.
date: 2017-03-28
---

extends ../layouts/post

block append foot
  include ../includes/zoom-image

block body
  div.content
    p At Sparks, we believe in giving children the opportunity for ‘free play’, as well as providing optional planned activities. Free play means making independent decisions rather than seeking adult direction, and it can be incredibly beneficial for childhood development.
    
    div.content__gallery
      div.content__gallery-item(style='flex: 3')
        img.content__gallery-image.js-zoom(src=assetUrl('images/photos/2017-04-01_13-30-01.jpg'))
      div.content__gallery-item(style='flex: 2')
        img.content__gallery-image.js-zoom(src=assetUrl('images/photos/2017-04-01_13-30-00.jpg'))
          
    p The #[a(href='https://en.wikipedia.org/wiki/HighScope#Effectiveness_of_the_program') HighScope Perry Project] observed 123 participants, from preschool through to adulthood; roughly half of them received a play-led form of teaching, while the others followed a more traditional, academic syllabus. 
    p The results revealed that those encouraged to freely express themselves in childhood were more likely to succeed later in life, achieving higher grades, earning more money and actively contributing to society in a positive way.
    figure
      blockquote
        p “Play is essential to development… play allows children to use their creativity while developing their imagination, dexterity and physical, cognitive and emotional strength.”
      figcaption Kenneth Ginsberg, American Academy of Pediatrics 
    p In the UK, play is often overlooked in favour of an increased focus on academic testing and more homework than ever before, not to mention reduced opportunities to play outdoors outside of school hours.
    p At Sparks, we provide several organised group activities during each #[a(href=pageUrl('clubs/after-school-club.pug')) After School Club] session, as well as supplying plenty of games, toys, sports equipment and art materials for independent play - allowing the children to choose how they spend their time, nurturing cognitive development and crucial life skills, such as:
    ul
      li Decision making
      li Creativity
      li Negotiation and collaboration
      li Turn taking
      li Teamwork
      li Organising and directing others
      li Sharing
    p Our fantastic team of playworkers participate in activities, talk to the children on their level, encourage problem solving and creative thinking.
    p We’re also lucky to have such diverse environments on offer, like the adventure playground and astroturf for running around, or the quiet room for chilling out with a book at Sefton Park School. Additionally, we run regular #[a(href=pageUrl('clubs/sparkan-foragers.pug')) Forest School] sessions, with our Sparkan Foragers learning more about the natural world. The children have a variety of options, and the freedom to choose how they’d most like to spend their afternoons once the school day is over.
    p Now, more children than ever are missing out on regular opportunities to entertain themselves and engage in independent, unrestricted free play. Empowering them with this freedom has been proven to boost self confidence, and we measure our success in the number of beaming smiles we see every single day.
    p
      em If you’d like to book a place on our #[a(href=pageUrl('clubs/after-school-club.pug')) After School] or #[a(href=pageUrl('clubs/holiday-club.pug')) School Holiday Club], you can find more information on our #[a(href=pageUrl('about/registration-booking.pug')) registration page].
