---
title: Cracking Nature-themed Easter Holiday Club!
summary: During the Easter Holidays, we held an egg-stremely egg-cellent Holiday Club at Sefton Park. Every holiday club has a different theme, and the children had an egg-ceedingly good time eggs-ploring this month’s theme of Nature…
description: During the Easter Holidays, we held an egg-stremely egg-cellent Holiday Club at Sefton Park. Every holiday club has a different theme, and the children had an egg-ceedingly good time eggs-ploring this month’s theme of Nature…
date: 2017-05-28
---

extends ../layouts/post

block body
  div.content
    p During the Easter Holidays, we held an egg-stremely egg-cellent #[a(href=pageUrl('clubs/holiday-club.pug')) Holiday Club at Sefton Park]. Every holiday club has a different theme, and the children had an egg-ceedingly good time eggs-ploring this month’s theme of Nature…
    
    div.content__gallery
      div.content__gallery-item(style='flex: 2')
        img.content__gallery-image.js-zoom(src=assetUrl('images/photos/2015-05-28_12-20-00.jpg'))
      div.content__gallery-item(style='flex: 3')
        img.content__gallery-image.js-zoom(src=assetUrl('images/photos/2015-05-28_12-20-01.jpg'))
      div.content__gallery-item(style='flex: 2')
        img.content__gallery-image.js-zoom(src=assetUrl('images/photos/2015-05-28_12-20-02.jpg'))
    
    p Now that I've got all the eggs-cruciating Easter puns out of my system, shall we stop yolking around and crack on with the rest of this egg-citing round-up?
    p We were incredibly lucky to have been treated to such glorious sunshine, the perfect weather for exploring nature! We took the children on #[a(href=pageUrl('clubs/sparkan-foragers.pug')) Forest School] adventures to #[a(href='https://narroways.wordpress.com/') Narroways], where we were able to take in the stunning scenery whilst shooting down the mudslide!!
    p The children investigated the wildlife onsite at Sefton Park, as well as on trips, planting seeds and decorating our own plant pots. We also made miniature gardens on paper plates. There were many cooking and crafting activities each day, including making apple crumble, feta cheese pastries, and jam tarts,  as well as designing our own bookmarks and making nature-themed mobiles.
    p At Sparks, we champion the philosophy of free-play (which you can read more about in #[a(href=pageUrl('blog/benefits-of-free-play.pug')) last month’s blog]) It was great to see lots of independent child-driven projects alongside the set activities, some of which also reflected the nature theme. A group of the children came up with the idea of making temporary homes for insects inside clear plastic cups, so they could then observe what the creatures got up to.
    p There was also a pop-up 'makeover' corner, where Emily's makeup bag had been commandeered. The makeover corner wasn't strictly nature-themed, but somewhat enhanced Mother Nature’s creations by adding glitter and lipgloss!
    p We run a separate holiday club for Big Sparks aged 9-14, called #[a(href=pageUrl('clubs/taningua.pug')) Taningua], which takes place at the Sefton Park #[a(href=pageUrl('clubs/index.pug#locations')) scout hut]. This gives the older children the option to get involved with slightly more grown up activities and this month our Taningua gang braved it on a trip to the #[a(href='http://www.ssgreatbritain.org/') SS Great Britain] where they climbed the rigging!
    p As it was Easter, we also had a hugely entertaining egg hunt, which everyone agreed was eggs-ceptional fun. (I couldn’t resist one more!)
    p The next Holiday Club will take place during the Summer Holidays. Earlybird bookings get a 10% discount, so keep checking our #[a(href=facebook.site) Facebook page] to find out when you can start booking places for your children.
