---
title: Fantasy Themed Half-Term Holiday Club
summary: All of us at Sparks HQ had a fun time planning and organising last month’s holiday club. The ‘Fantasy’ theme ignited everyone’s imagination and sense of adventure!
description: All of us at Sparks HQ had a fun time planning and organising last month’s holiday club. The ‘Fantasy’ theme ignited everyone’s imagination and sense of adventure!
date: 2017-11-05
---

extends ../layouts/post

block append foot
  include ../includes/zoom-image

block body
  div.content
    p All of us at Sparks HQ had a fun time planning and organising last month’s holiday club. The ‘Fantasy’ theme ignited everyone’s imagination and sense of adventure!
    
    div.content__gallery
      div.content__gallery-item(style='flex: 1')
        img.content__gallery-image.js-zoom(src=assetUrl('images/photos/2017-11-13_22-25-00.jpg'))
      div.content__gallery-item(style='flex: 1.2')
        img.content__gallery-image.js-zoom(src=assetUrl('images/photos/2017-11-13_22-25-01.jpg'))
      div.content__gallery-item(style='flex: 1')
        img.content__gallery-image.js-zoom(src=assetUrl('images/photos/2017-11-13_22-25-02.jpg'))
          
    p Our October holiday club kicked off with a fantastic Mad Hatter’s tea party. The children spent the morning crafting their hats, concocting ‘drink me’ potions and cooking ‘eat me cupcakes’. The tea party was followed by games and a screening of Alice in Wonderland, naturally.
    p On the Tuesday we were entertained by the spellbindingm #[a(href='http://www.greatjaydinibristol.co.uk/') Great Jaydini], an excellent magician who bedazzled with his bonkers and brilliant show! He had everyone joining in and laughing and even gave out prizes. 
    p On Wednesday we had a #[a(href=pageUrl('clubs/sparkan-foragers.pug')) Forest School] afternoon with Liam and Mark making nettle soup and damper bread on an open fire that everyone helped put together. The #[a(href=pageUrl('clubs/taningua.pug')) Taningua] children (8-14 year olds) had a trip to Laser Quest, while the younger children enjoyed the craft activity of making their own Harry Potter wands! 
    
    h2 Trip Day!! 
    p On Thursday everyone enjoyed a trip to Felix Road Adventure Playground. It was a great opportunity for the children to let loose, push their boundaries and get their hands dirty with some outdoor risky play. They had free reign on all the apparatus, and were able to really stretch themselves! It was great to witness the children encouraging and supporting each other. 
    p The final day was Crystal Maze day! We made our own obstacle courses and dressed up in hilarious costumes. It was another opportunity for the children to encourage and support each other through play, and we shared lots of fun and laughter. 
    p The next holiday club will be during February half-term. If your little one particularly enjoyed this term’s club, then perhaps you could spread the love by giving us a review on Facebook! To keep up with the latest news and photos from Sparks HQ, please like our #[a(href=facebook.site) Facebook page].
