---
title: "Risky Play: Why We Encourage Children to Challenge Themselves"
summary: In today’s modern world, parents and guardians are constantly being made aware of new dangers facing our children, from health epidemics to ‘stranger danger’ and what they’re exposed to on the internet.
description: In today’s modern world, parents and guardians are constantly being made aware of new dangers facing our children, from health epidemics to ‘stranger danger’ and what they’re exposed to on the internet.
date: 2018-02-05
---

extends ../layouts/post

block append foot
  include ../includes/zoom-image

block body
  div.content
    p In today’s modern world, parents and guardians are constantly being made aware of new dangers facing our children, from health epidemics to ‘stranger danger’ and what they’re exposed to on the internet.
    p However, with an ever-increasing emphasis on danger, we could be overlooking the important role ‘risky play’ can have on a child’s ability to solve problems and assess things by themselves.
    
    div.content__gallery
      div.content__gallery-item(style='flex: 1')
        img.content__gallery-image.js-zoom(src=assetUrl('images/photos/2018-02-05_21-15-00.jpg'))
      div.content__gallery-item(style='flex: 1')
        img.content__gallery-image.js-zoom(src=assetUrl('images/photos/2018-02-05_21-15-01.jpg'))

    section
      h2 What is Risky Play?
      p Risky play involves allowing children to engage in activities which they find physically challenging, thrilling and sometimes even a little scary, in order for them to test their own boundaries and discover their limits. It’s always supervised and ultimately very safe, but has the potential for minor injury as part of the learning process. 
      p Creating opportunities for climbing, jumping, falling, grazing and bruising has a much more powerful influence on a child’s understanding of the world around them and of their relationship with their own body, than an adult simply saying, “be careful, you might fall.”

    section
      h2 What are the benefits of Risky Play?
      
      h3 Nurtures self confidence
      p Beyond understanding their physical limitations and boundaries, risky play also has a vital role in building self confidence and independence. Discovering our physical limitations involves pushing ourselves, which takes bravery and is inevitably followed by a feeling of accomplishment and pride. 

      h3 Social development 
      p During risky play activities, children are encouraged to support each other, celebrating and cheering achievements. They are also able to develop their empathy for others, helping each other up when they fall and being and reassuring friends who may be too scared to climb higher or go further.  

      h3 Problem solving
      p Encouraging children to be physically independent can give them the skills and confidence to think laterally, giving them valuable experience of overcoming obstacles.

      h3 Pushing boundaries 
      p For children who are reluctant to leave their comfort zones, forcing themselves to try new things helps them realise they’re capable of so much more than first anticipated. 

    section
      h2 Embracing Risky Play
      p At Sparks, we’re keen to give children the opportunity to experience risky play in a safe environment, and run #[a(href=pageUrl('clubs/sparkan-foragers.pug')) forest school] activities, such as fire building and climbing trees. 
      p There are many great places in and around Bristol with excellent risky play facilities, such as Felix Road Adventure Playground, where we go on the occasional day trip; the children surprise themselves with their own bravery, jumping from high points onto crash mats like professional stunt people! 
      p We’ve also had the privilege of climbing the rigging of the SS Great Britain and enjoying the fantastic views from the crow’s nest!! It’s during these trips that the children amaze us with their ‘can do’ attitude and their support of one another, cheering everyone on, demonstrating levels of maturity and empathy beyond their years.  
      p We believe it’s vital to give children plenty of chances to experience risk through play to help prepare them for and understand the world around them. 
    
    p We‘re currently looking forward to our upcoming ‘Wildlife’ themed half-term holiday club from 12-16 February. We have lots of fun activities in store, with opportunities for risky play and #[a(href=pageUrl('blog/benefits-of-free-play.pug')) free play] including an exciting #[a(href='http://www.bristolzoo.org.uk/schools-and-education/Other-Learning-Opportunities/childrens-clubs-and-discovery-days') discovery day at Bristol Zoo] where the children will be able to get close-up and interact with some of the animals! 
    p View our #[a(href=assetUrl('files/holiday-club-february-2018-programme.pdf')) Holiday Club Programme] to see which activities are taking place, and find out #[a(href=pageUrl('about/registration-booking.pug')) how to book] on our website. 
