---
title: Summer Holiday Club 2018
summary: We are very pleased to announce that our Summer Holiday club is now open for booking!
description: We are very pleased to announce that our Summer Holiday club is now open for booking!
date: 2018-06-22
author: Liam Jefferies
---

extends ../layouts/post

block body
  div.content
    p We are very pleased to announce that our Summer Holiday club is now open for booking!
    p We have so many exciting things planned this Summer and we’re really hoping for some great weather too.
    p We will be running Holiday Club from Fairlawn Primary School this time around as we have been given notice from Sefton Park to leave by the end of term.
    
    p The address for Fairlawn is:
    div.content__location
      div.content__location-item
        div.content__location-label Fairlawn School
        address
          div Fairlawn School
          div Fairlawn Road
          div Montpelier
          div Bristol BS6 5JL
        a(href=map.fairlawn).content__location-link See on a map

    p #[a(href=assetUrl('files/holiday-club-summer-2018-programme.pdf')) Click here] to see our programme which includes all activities, trips, workshops and lots of other fun things that we will be doing throughout the six weeks of Summer.
    p We will also be running Taningua and Big Sparks for children 8 and over from the Church Hall next to St Andrews Park. See the last page of the programme for more information about the activities we will be offering for your young people.
    p If you book any sessions before the 11th of July you will receive a lovely 10% discount from your bookings.
    p We work on a credit-in-advance system for Holiday Club bookings so you will have to calculate how many sessions you’d like to book with or without the discount depending on the date you book.
    p Payments are made through Libacura, which is credited directly to your account using a bank transfer, or by using childcare vouchers which we will have to manually input on Libacura to make your bookings available. Please let us know which method of payment you decide to use and if you have any problems booking.
    p We do not accept cash or cheques!
    p The bookings will be closed on the 24th of July and we will not be accepting any last minute bookings throughout Summer, so please ensure you have booked everything you need by Tuesday the 24th of July to avoid any disappointment.
    p If you require any further information or have any questions please don't hesitate to phone our office team on #[a(href='tel:01179244439') 0117 924 4439] (myself, Ian, Emily or Carole) or #[a(href='mailto:coopsparks@gmail.com') drop us an email] and we will be happy to help.
    
    a.content__download(href=assetUrl('files/holiday-club-summer-2018-programme.pdf')) Download the Summer Holiday Club 2018 Programme
    p
      em For Holiday Club session times and prices, #[a(href=pageUrl('clubs/holiday-club.pug')) please click here].
    p
      em For Taningua session times and prices, #[a(href=pageUrl('clubs/taningua.pug')) please click here].
