---
title: Summer Holiday Club 2018
summary:  Wow, I can hardly believe the Summer Holidays have come around again! It only seems a moment ago I was writing last year’s summer holiday club blog, telling you all about our more-popular-than-ever action-packed adventure of pirates, farm visits, exotic spices, mad hatters and more. We even ended up enrolling a new playworker to keep up with the high demand! 
description:  Wow, I can hardly believe the Summer Holidays have come around again! It only seems a moment ago I was writing last year’s summer holiday club blog, telling you all about our more-popular-than-ever action-packed adventure of pirates, farm visits, exotic spices, mad hatters and more. We even ended up enrolling a new playworker to keep up with the high demand! 
date: 2018-06-22
---

extends ../layouts/post

block body
  div.content
    p Wow, I can hardly believe the Summer Holidays have come around again! It only seems a moment ago I was writing last year’s summer holiday club blog, telling you all about our more-popular-than-ever action-packed adventure of pirates, farm visits, exotic spices, mad hatters and more. We even ended up enrolling a new playworker to keep up with the high demand! 
    
    div.content__gallery
      div.content__gallery-item(style='flex: 1')
        img.content__gallery-image.js-zoom(src=assetUrl('images/photos/2017-03-08_21-40-00.jpg'))
      div.content__gallery-item(style='flex: 1.8')
        img.content__gallery-image.js-zoom(src=assetUrl('images/photos/2015-05-28_12-20-02.jpg'))
      div.content__gallery-item(style='flex: 1')
        img.content__gallery-image.js-zoom(src=assetUrl('images/photos/2017-09-21_10-50-01.jpg'))
          
    p We’re excited to be hosting our very first Summer Holiday Club at Fairlawn School! If last year is anything to go by, we know your little ones are going to love what we have in store for this summer. 
    p View our Summer Holiday Club Planner to see what’s going on each day.
    
    a.content__download(href=assetUrl('files/holiday-club-summer-2018-programme.pdf')) Download the Summer Holiday Club 2018 Programme

    p As always, each week will have a different theme with a variety of related activities, and this year we’ve come up with particularly fun themes that are sure to spark everyone’s imagination. 
    p Some of the children enjoy coming in fancy dress which isn’t compulsory but always fun! Feel free to browse our programmes to help you choose which sessions you would like to enrol your little one on.
    
    p #[strong Week one and two] will kick off with a “Festival” theme, which promises to be filled with face painting, yoga, hula hooping, gallons of glitter! Forest school, music, and a powder paint fight. 
    p It’s all to play for in #[strong week three’s] “Athletics & Olympics” themed week, which will include loads of fun, sporty activities, Olympic wreath-making, a bouncy castle and a sports day event.
    p #[strong Week four] is totally “Tropical” with tropical fruit salads, pineapple upside-down cake making, parachute games, hula musical statues, grass skirts and headdress making, sand sculptures, and a tropical paradise BBQ party. 
    p #[strong Week five] is all about “Friendship”, we’ll make our own friendship bracelets, have an afternoon of team building challenges, games of bingo with prizes, and a trip to Clifton Suspension Bridge, the Camera Obscura and the Giant’s Cave. 
    p Finally in #[strong week six], the theme will be “storytelling” where we’ll write our own books, make puppets, play storytelling games, visit the beach, create a ‘play in a day’ and perform it for the staff, and of course there will be a storytelling workshop! 
    p On the final day of Summer Holiday Club, we let the children take over!! So get thinking about how you’d love to spend the last day. 

    h2 Taningua 
    p Running alongside the usual Holiday Club, #[a(href=pageUrl('clubs/taningua.pug')) Taningua] is a seperate club for slightly older children aged 8-14. 
    p Away from the little ones, the Taningua children can enjoy slightly more advanced activities and have their own space to run around and express themselves. 
    p Taningua is available on Tuesdays and Thursdays, but the older children are welcome at the main Holiday Club as well. Please be aware that when booking on Libacura you must select Taningua, otherwise your child will be enrolled onto the main club instead and may miss out on Taningua activities and trips. 

    h2 Refer-a-friend and Early Bird Discount
    p If you’re tightening the purse strings and looking for more bang for your buck (who isn't?) then why not take advantage of our special offers.
    p Receive a free session for your little one for each friend you refer to Sparks Holiday Club. Ask your friend to email #[a(href='mailto:coopsparks@gmail.com') coopsparks@gmail.com] stating that they have been referred by you, and we’ll reward both parties with a free session.
    p Take advantage of our early bird discount and book before 11th July to receive 10% off! 
    
    p
      em For Holiday Club session times and prices, #[a(href=pageUrl('clubs/holiday-club.pug')) please click here].
    p
      em For Taningua session times and prices, #[a(href=pageUrl('clubs/taningua.pug')) please click here].
