---
title: Breakfast Club
---

extends ../layouts/index

block content
  main.main
    div.intro.intro--badge.intro--background(style=backgroundImageStyle('images/photos/2016-01-12_15-45-45.jpg'))
      div.intro__container
        div.intro__primary
          h1.intro__heading Breakfast Club
          p.intro__body Our increasingly popular Breakfast Club helps ease the early morning rush for busy working parents.
        div.intro__secondary
          div.intro__badge
            div.intro__badge-wrap
              img.intro__badge-image(src=assetUrl('images/munch-flakes.png'))

    div.main__container
      div.content
        section
          h2 What to expect
          p We take a child-led approach to everything we do at Sparks, and Breakfast Club is no exception. We provide scrumptious and nutritious morning meals, including cereal, porridge, toast, fruit, yogurt, crumpets and fruit bread.
          p We educate the children as to the importance of having a healthy, balanced breakfast, but what they choose to eat is entirely up to them.

        section
          h2 Things to do
          img.content__image.content__image--float(src=assetUrl('images/photos/2017-08-28_11-07-00.jpg'))
          p Even though Breakfast Club is shorter than our #[a(href=pageUrl('clubs/after-school-club.pug')) After School Club], there’s still plenty of fun to be had. We don’t run specifically scheduled activities, but we provide various toys, games and equipment for the children to indulge in #[a(href=pageUrl('blog/benefits-of-free-play.pug')) free-play]. This helps stimulate creativity and independence, as they’re able to take charge of how they spend their hour before school.
          p Breakfast Club is held at #[a(href=pageUrl('clubs/index.pug') + '#locations') The Scout Hut] next to Sefton Park Primary School, which provides quiet areas for reading or drawing, as well as space to run around and let off steam before school begins. 
          p After tucking into brekkie, the children are free to get involved with: 
          ul
            li Art activities
            li Junk modelling 
            li Quiet reading 
            li Board games 
            li Sports equipment
            li Outdoor play
          p Everyone helps tidy up at 08:20, and then we walk in groups to Brunel Fields and Sefton Park, arriving in plenty of time before school begins.

        section
          h2 Sessions & prices
          table
            thead
              tr
                th Session
                th Price per child
            tbody
              tr
                td 07:30 – 08:45
                td £5.00
          a.content__cta(href='mailto:coopsparks@gmail.com?subject=Breakfast Club booking') Make a booking

        section
          h2 Register with us
          p At Breakfast Club, we welcome children from Sefton Park and Brunel Field schools.
          a.content__button(href=pageUrl('about/registration-booking.pug')) Register now
