---
title: Our clubs
---

extends ../layouts/index

block content
  main.main
    div.main__container
      div.content
        h1 Our clubs
        p We know that parents have needs too; our clubs are there to give you the extra time you want with the peace of mind that comes from knowing your child is being well looked after.
        p Sparks provides a friendly and creative environment where children can feel at home doing the things they love. Our clubs have a wide range of facilities and loads of brilliant activities to suit children’s specific needs and interests.

      include ../includes/clubs

      section.clubs
        h2.clubs__heading
          span Extras
        ul.clubs__list
          li.clubs__club
            a.clubs__anchor(href=pageUrl('clubs/taningua.jade'))
              img.clubs__image(src=assetUrl('images/cooking.png'))
              h2.clubs__name Taningua
              p.clubs__description Grown-up activities for 9 to 14 year olds
              p.clubs__info Learn more
          li.clubs__club
            a.clubs__anchor(href=pageUrl('clubs/sparken-foragers.jade'))
              img.clubs__image(src=assetUrl('images/explorer.png'))
              h2.clubs__name Sparken Foragers
              p.clubs__description A place to learn all about nature and bushcraft
              p.clubs__info Learn more

      div.content
        h2 Our premises
        img.content__image.content__image--float(src=assetUrl('images/photos/2015-07-30_16-13-52.jpg'))
        p Sparks is based in the green terrapin classrooms that you can see from the entrance of Sefton Park school. There are two large classrooms, two bathrooms with four toilets in each, a lobby that joins both rooms with pegs to hang coats & bags and an adult bathroom. We share this space with Sefton Park which they will be using as an art and music studio during the day.
        p The terrapin is located at ground level with main access from the front of the building. There are also fire exits at the back of the building which we can also use for easy outside access.

