---
title: Our clubs
---

extends ../layouts/index

block content
  main.main
    div.main__container
      div.content
        h1 Our clubs
        p Sparks is a friendly and creative environment where children can feel at home doing the things they love. We have a wide range of facilities and loads of brilliant activities to suit children’s specific needs and interests.
        p At our clubs we provide an environment that facilitates children’s freely chosen play. To that end, we have a large range of open access materials. The children have access to adult support whenever they chose (for example sewing or cooking).
        p We plan daily activities, consulting with the children for ideas, and also trying to extend their experiences culturally and awareness of the wider world.
        p The clubs use two old classrooms that have a wide range of art and crafts, books, dressing up, den-building materials, toys and games and computers.
        p In addition, we also provide light, nutritious meals for breakfast and after school club that give the children the energy to enjoy it all!
        p Drinks are always available (Hi juice squash at snack times, and water for the rest of the day).
        p Cooking is always a very popular activity and children get a chance to try out new recipes and try new tastes. Specific dietary requirements such as nut allergies, halal, vegetarian, vegan, kosher and most allergies can be accommodated.
        p We know that parents have needs too: our clubs are there to give you the extra time you want with the peace of mind that comes from knowing your child is being well looked after. All our staff are DBS checked and we are fully registered with Ofsted as an Early Years provider.

      ul.clubs
        li.clubs__club
          a.clubs__anchor(href=pageUrl('clubs/breakfast-club.jade'))
            img.clubs__image(src=assetUrl('images/munch-flakes.png'))
            h2.clubs__name Breakfast Club
        li.clubs__club
          a.clubs__anchor(href=pageUrl('clubs/after-school-club.jade'))
            img.clubs__image(src=assetUrl('images/dragon.png'))
            h2.clubs__name After School Club
        li.clubs__club
          a.clubs__anchor(href=pageUrl('clubs/holiday-club.jade'))
            img.clubs__image(src=assetUrl('images/cooking.png'))
            h2.clubs__name Holiday Club
        li.clubs__club
          a.clubs__anchor(href=pageUrl('clubs/taningua.jade'))
            img.clubs__image(src=assetUrl('images/cooking.png'))
            h2.clubs__name Taningua
        li.clubs__club
          a.clubs__anchor(href=pageUrl('clubs/sparken-foragers.jade'))
            img.clubs__image(src=assetUrl('images/explorer.png'))
            h2.clubs__name Sparken Foragers

      div.content
        h2 Our premises
        p Sparks is based in the green terrapin classrooms that you can see from the entrance of Sefton Park school. There are two large classrooms, two bathrooms with four toilets in each, a lobby that joins both rooms with pegs to hang coats & bags and an adult bathroom. We will be sharing this space with Sefton Park which they will be using as an art and music studio during the day.
        p The terrapin is located at ground level with main access from the front of the building. There are also fire exits at the back of the building which we can also use for easy outside use.

