---
title: Sparkan Foragers
---

extends ../layouts/index
include ../mixins/location

block content
  main.main
    div.intro.intro--badge.intro--background(style=backgroundImageStyle('images/photos/2013-04-04_14-01-58.jpg'))
      div.intro__container
        div.intro__primary
          h1.intro__heading Sparkan Foragers
          p.intro__body We’re always looking for exciting ways to give the children new experiences, and Sparkan Foragers is the name of our lively Forest School programme. We have lots of fun exploring the great outdoors, learning about nature and wildlife, led by our qualified team members who have a real passion for the environment.
        div.intro__secondary
          div.intro__badge
            div.intro__badge-wrap
              img.intro__badge-image(src=assetUrl('images/explorer.png'))

    div.main__container
      div.content
        section
          h2 What is Forest School?
          p Forest Schools, or Nature Nurseries as they’re also known, have been an integral part of early years education in Scandinavia since the 1950's, offering an alternative method of teaching in natural settings, such as forests and woodland. They focus on a variety of team-building and practical skills, like campfire cooking and den-building, while also educating on the importance of nature conservation.
          img.content__image.content__image--float(src=assetUrl('images/photos/2015-05-05_17-07-36.jpg'))
          p Studies have shown Scandinavian schooling to be among the best in the world, and we take much inspiration from this philosophy of encouraging an appreciation of the natural world. As such, the ethos of Sparkan Foragers is to instill an interest that will hopefully live on into adulthood, while also helping children develop social skills, independence and self-confidence.

        section
          h2 How to attend
          p Sparkan Foragers has been running since 2012 and is hugely popular with all participants. Chloe is our qualified level three Forest School teacher, and she runs weekly sessions as part of our After School Club during the warmer months from March to October.

        section
          h2 What our Foragers get up to
          ul
            li Learning how to use tools and look after them
            li Building fires
            li Writing a journal
            li Campfire cooking
            li Shelter building
            li Using ropes and tying knots
          p The playground at Sefton Park School is currently undergoing some very exciting redevelopment work, creating the perfect space for our Foragers to explore.

        section
          h2 Trips
          p Sparkan Foragers also venture far and wide on trips during #[a(href=pageUrl('clubs/after-school-club/index.pug')) After School] and #[a(href=pageUrl('clubs/holiday-club.pug')) School Holiday Club] to experience local wildlife in exciting places such as #[a(href='http://www.windmillhillcityfarm.org.uk') Windmill Hill City Farm], a great place for the children to 'muck in' and help out with a local community project whilst learning about local sustainable produce and encouraging healthy eating.
          p #[a(href='https://narroways.wordpress.com') Narrow Ways] is another place we love to venture, nettle picking to make soup that we cook on fires built by our own fair hands.
          p Some things to remember to bring to Sparks…
            li Weather appropriate clothing (coats, hats, gloves)
            li Book bag
            li School bag
            li Medication*
          p
            em *We must have written permission from a parent or guardian to supply medication.

        section
          h2 Sessions & prices
          p Sparken Foragers runs March-October as part of our #[a(href=pageUrl('clubs/after-school-club/index.pug')) Bristol After School Clubs]. Visit our #[a(href=pageUrl('about/registration-booking.pug')) bookings page] to find out how to register and book.
          table
            thead
              tr
                th Session
                th Price per child
            tbody
              tr
                td 15:30 – 18:00
                td £#{increaseCost(11.00, 2)}
          p
            em Children must be picked up from Sparks by 18:00 at the very latest to avoid a fee.

        section#contact
          h2 Contact us
          +location(locations.stBartsHall)
