---
title: Taningua Club
---

extends ../layouts/index
include ../mixins/location

block content
  main.main
    div.intro.intro--badge.intro--background(style=backgroundImageStyle('images/photos/2013-08-06_13-49-46.jpg'))
      div.intro__container
        div.intro__primary
          h1.intro__heading Taningua Club
          p.intro__body Taningua is our adventure-filled Holiday Club for ‘Big Sparks’, where children aged 8-14 can enjoy more challenging and stimulating activities better suited to their age group.
        div.intro__secondary
          div.intro__badge
            div.intro__badge-wrap
              img.intro__badge-image(src=assetUrl('images/climbers.png'))

    div.main__container
      div.content
        div.notice Please note Taningua is not running in 2019
          
        section
          h2 What it’s all about
          img.content__image.content__image--float(src=assetUrl('images/photos/2017-06-14_21-10-00.jpg'))
          p One of the things parents and children love about our clubs is that there’s always plenty of equipment and activities to entertain everyone! At Sparks, we promote a culture of inclusion and it’s great to see children of varying ages and abilities getting together, interacting with one another and enjoying activities as a group.
          p However, we believe in giving children the #[a(href=pageUrl('blog/benefits-of-free-play.pug')) freedom to choose how they play] and spend their leisure time, so Taningua provides an alternative environment that is especially designed for bigger Sparks.
          p Away from the little ones, the older children are free to explore more challenging activities, sophisticated cooking classes and more intricate crafting tasks. Day trips are also a little more adventurous, from climbing the rigging of the SS Great Britain to ceramic painting at #[a(href='http://www.flyingsaucers.co.uk/') Flying Saucers] pottery cafe.
          p In 2012, we asked the children to come up with a name for this exciting new club, and Taningua was settled upon because it means ‘Teenager’ in Icelandic. An ice cool name for an ice cool club.

        section
          h2 What we get up to
          p Previous Taningua activities have included:
          ul
            li Archery
            li Gorge walking
            li Mountain biking
            li High & low ropes
            li Raft building
            li Cookery Masterclasses
            li Bushcraft
            li Craft workshops
            li Swimming
            li Pottery
            li Caving
            li Digital photography
            li Paintballing
            li Kayaking
          include ../includes/programme

        section
          h2 When and where
          p Taningua runs alongside the Holiday Club at Fairlawn School and is held in the Hut 6338 on St Bartholomews Road or St Bart’s Church Hall on Maurice Road.
          p We run from 09:00 to 15:30 in Hut 6388. An additional session can be booked from 15:30 to 17:45 - please contact us for details.
          p Taningua runs during the Holidays and can be booked through your #[a(href='https://libacura.co.uk/fd/login/') Libacura Account].
          table
            thead
              tr
                th Session
                th Times
                th Price per child
            tbody
              tr
                td Full day
                td 08:15 – 17:45
                td £#{increaseCost(34.00, 2)}
              tr
                td School day
                td 09:00 – 15:30
                td £#{increaseCost(26.00, 2)}
              tr
                td Add-on
                td 15:30 – 17:45
                td £#{increaseCost(8.00, 2)}
              tr
                td All day trip
                td 08:15 – 17:45
                td £#{increaseCost(40.00, 2)}
              tr
                td All day trip incl. admission
                td 08:15 – 17:45
                td £#{increaseCost(45.00, 2)}

        section
          h2 What to bring
          p Some things to remember to bring to Taningua…
          ul
            li Packed lunch with a drink
            li Spare clothes for certain activities i.e. sunhat
            li Swimming costume and towel
            li Medication*
          p
            em *We must have written permission from a parent or guardian to supply medication.

        section#contact
          h2 Contact us
          +location(locations.stBartsHall)
