---
title: About Sparks
---

extends ../layouts/about

block body
  main.main
    div.main__container
      div.content
        section
          h1 About Sparks
          img.content__image.content__image--float(src=assetUrl('images/photos/2014-03-19_17-11-13.jpg'))
          
          p Sparks is a cooperative of passionate playworkers, dedicated to providing a variety of  #[a(href=pageUrl('clubs/index.pug')) fun and playful clubs] for children aged 3-14 at #[a(href=pageUrl('clubs/index.pug') + '#locations') four locations in Bristol]. 
          p At Sparks, we believe in the value of #[a(href=pageUrl('blog/benefits-of-free-play.pug')) free play] and the importance of allowing children to choose how they spend their leisure time. We provide a safe and flexible environment for children, offering a wide range of fun and stimulating play opportunities to aid their growth and development. We enable them to experiment and express themselves, but most of all… to have fun!!
          p We value individuality and diversity, and are proud to provide an equal-opportunity setting. We are committed to maintaining a supportive, friendly and inclusive environment for all ,and have an excellent track record of supporting families with additional needs.
          p All our staff are fully-trained and DBS checked, and we are registered with #[a(href='//reports.ofsted.gov.uk/inspection-reports/find-inspection-report/provider/CARE/EY376224') Ofsted]. 
          p We base our attitude towards play on #[a(href='//www.playwales.org.uk/eng/playworkprinciples') The Playworkers Principles]; an ethical framework for play drawn up by Play Wales. These eight principles are recognised by Ofsted and #[a(href='//www.skillsactive.com/sectors/playwork') SkillsActive] as best practice for all playwork in the U.K. 
          a.content__download(href='//reports.ofsted.gov.uk/provider/files/2379165/urn/EY376224.pdf') Download our latest Ofsted report

        section
          h2 Our background
          p In April 2005, Sparks Play & Care became Bristol’s first ever childcare workers’ co-operative. We took over the #[a(href=pageUrl('clubs/after-school-club/index.pug')) After School Club] at Sefton Park School which had previously been organised and run by a committee of parents. Our mission was to provide a variety of services that could meet and respond to the needs of local families. We do this by offering flexible, safe and affordable childcare that families know they can count on during term time and #[a(href=pageUrl('clubs/holiday-club.pug')) School Holidays].
          p We offer creative wrap-around care in a safe environment where children can explore and experiment with new interests and hobbies, make new friends, play outdoors or inside and express themselves through play.
          p We have an excellent track record in supporting families with additional needs as we run an inclusive play setting.

        section
          h2 Where to find us
          div.content__location
            div.content__location-item
              div.content__location-label Office
              address
                div Sparks Co-operative Ltd
                div Unit 17
                div The Coach House
                div 2 Upper York St
                div Bristol BS2 8QN
              a(href=map.office).content__location-link See on a map
            div.content__location-item
              div.content__location-label Fairlawn School
              address
                div Fairlawn School
                div Fairlawn Road
                div Montpelier
                div Bristol BS6 5JL
              a(href=map.fairlawn).content__location-link See on a map
            div.content__location-item
              div.content__location-label The Scout Hut
              address
                div Hut3688
                div St. Bartholomews Rd
                div Ashley Down
                div Bristol BS7 9BJ
              a(href=map.scoutHut).content__location-link See on a map
            div.content__location-item
              div.content__location-label St Bart’s Church Hall
              address
                div St Bart’s Church
                div Maurice Rd
                div St Andrews
                div Bristol BS6 5BZ
              a(href=map.stBartsHall).content__location-link See on a map
            div.content__location-item
              div.content__location-label The Dolphin School
              address
                div 25a Bath Buildings
                div Bristol BS6 5PT
              a(href=map.dolphin).content__location-link See on a map

        section
          h2 Keeping in touch
          p We send out a termly email newsletter. We also send out a Holiday Club activity plan and booking form via email a month prior to the school holidays.
          p You can keep up to date with what we’re up to by liking our #[a(href=facebook.site) Facebook Page], where we post regular video and photo updates. 
          p If at any time you would like a meeting to catch up with your child’s key worker, please contact us to arrange a convenient time.
