---
title: Registration & booking
---

extends ../layouts/about

block body
  main.main
    div.main__container
      div.content
        h1 Registration & booking

        section
          img.content__image.content__image--float(src=assetUrl('images/photos/2015-06-16_17-49-02.jpg'))
          p If you’d like to enrol your child into one of our clubs, you’ll need to register first. We welcome you to come and visit us, have a look around and meet the team beforehand. 
          p To arrange a visit, please email #[a(href='mailto:coopsparks@gmail.com') coopsparks@gmail.com] or call us on 0117 9244 439. 
          p Before registering, please take some time to familiarise yourself with our #[a(href=pageUrl('about/policies-procedures/index.pug')) policies and procedures], and read through our #[a(href=pageUrl('about/terms.pug')) Registration and Booking terms and conditions].

        section
          h2#registration How to register
          p Registering with Sparks is easy, and can be completed via our online booking system, #[a(href='https://libacura.co.uk') Libacura]. This is specialist software for After School clubs and playcare centres, allowing you to book sessions and make secure payments via credit or debit card.
          p We charge an annual fee of #[strong £20.00 per child] to be registered with us.
          p Once you have completed the registration form, we will be in touch to find out which clubs you wish your children to attend.
          p We offer childcare at #[a(href=pageUrl('clubs/index.pug') + '#locations') five different locations] - Sefton Park School, St Bart’s Church Hall, The Dolphin School, The Scout Hut located on St. Bartholomews road and Fairlawn School. 
          p Registration is split up into three groups. Find out which group your child needs to be registered in below.
          
        section          
          h3 Group 1 – Sefton Park and Brunel Field schools
          p If your children attend Sefton Park or Brunel Field schools you must register in Group 1.
          p For any further enquiries, please email us at #[a(href='mailto:coopsparks@gmail.com') coopsparks@gmail.com].
          p
            a.content__cta(href='https://libacura.co.uk/register/sparks') Register for Group 1
          
        section
          h3 Group 2 – Fairlawn, The Dolphin and St Barnabas schools
          p If your children attend Fairlawn, The Dolphin or St Barnabas schools you must register in Group 2.
          p For any further enquiries, please email us at #[a(href='mailto:sparksfairlawn@gmail.com') sparksfairlawn@gmail.com] OR #[a(href='mailto:sparksdolphin@gmail.com') sparksdolphin@gmail.com].
          p
            a.content__cta(href='https://libacura.co.uk/register/fairlawn') Register for Group 2
          
        section
          h3 Group 3 – Holiday Club
          p If you would like your children to attend Holiday Club, please register in Group 3. Note that if they are already registered in Group 1 or 2 you will not have to register again.
          p For any further enquiries, please email us at #[a(href='mailto:coopsparks@gmail.com') coopsparks@gmail.com].
          p
            a.content__cta(href='https://libacura.co.uk/register/sparks') Register for Group 3

        section
          h2#booking Booking sessions
          
          h3 Group 1 – Sefton Park and Brunel Field schools
          p We have a waiting list for our popular Sefton Park and Brunel Fields clubs. To avoid disappointment and to guarantee a weekly place, we recommend submitting your booking on a permanent basis. If you need more flexibility you can book weekly before Sunday via email, but your child’s place cannot be guaranteed.
          p When you have registered please send an email to #[a(href='mailto:coopsparks@gmail.com') coopsparks@gmail.com] to let us know which days you require. For further enquiries, please email us at #[a(href='mailto:coopsparks@gmail.com') coopsparks@gmail.com].
          
          h3 Group 2 – Fairlawn, The Dolphin and St Barnabas schools
          p Group 2 bookings for Fairlawn, The Dolphin and St Barnabas schools need to be completed weekly on Libacura. Offering this flexibility means we cannot guarantee a place every week. All bookings must be submitted by Sunday evening for the upcoming week, and once booked you will not be able to swap or cancel your session.
          p For further enquiries, please email us at #[a(href='mailto:sparksfairlawn@gmail.com') sparksfairlawn@gmail.com].
          
          h3 Group 3 – Holiday Club
          p
            strong Please only use this group if you’re not currently registered with us and you only wish to book for holiday club.
          p The Libacura system enables you to book your preferred sessions for the holiday. If the session you want is full, you will be put on a waiting list and we will notify you when a space becomes available. Book early to avoid disappointment and to take advantage of our Early Bird discount of 10% off, if booked two weeks before the holiday starts.
          p
            strong All bookings for Holiday Club must be paid for at the time of booking. Please use one of the payment methods below.
          p For further enquiries, please email us at #[a(href='mailto:coopsparks@gmail.com') coopsparks@gmail.com].

        section
          h2#howtopay How to pay
          p We are a small not-for-profit company and we rely completely on fees being paid on time.
          p Invoices for After School Club and Breakfast Club are sent on the 15th of the previous month to be paid by the 5th of the month that you are being invoiced for. If monthly invoices are not settled by the 15th of the month then we have to charge a £10.00 late fee which will be added to your account. If your account is not settled by the next invoice run, then you will lose your children’s place. All bookings for Holiday Club must be paid for at the time of booking.
          p Once you have made your booking with us you can pay using any of the following methods:
          ul
            li
              h4 Bank transfer
              p Our bank account details can be found on your invoice or by contacting us.
            li
              h4 Childcare vouchers
              p Sparks accepts all recognised childcare vouchers:
              ul
                li Allsave
                li Bath and North East Somerset childcare vouchers
                li Bristol City Council childcare vouchers – HVSP0023
                li Busy Bees Childcare Vouchers
                li care-4 – 64647283
                li childcareplus P&MM
                li Co-operative Childcare Vouchers
                li Computershare – 0007842999
                li Edenred – P382593
                li Fair Care
                li Fideliti – Spa014c
                li Gemelli – SP1510
                li KiddiVouchers
                li PES Childcare Vouchers
                li Rascals
                li Sodexo – 804331
                li South Gloucestershire Council childcare vouchers
              p If your voucher scheme is not mentioned, we are more than happy to register with your preferred provider.
            li
              h4 GoCardless
              p Within your #[a(href='https://libacura.co.uk/fd/login/') Libacura account] you can make secure payments via GoCardlesss. Just enter your bank account number, sort code and the amount you want to pay and the funds are then transferred safely and securely.

        section
          h2 Keeping in touch
          p We send out a termly email newsletter. We also send out a Holiday Club activity plan and booking form via email a month prior to the school holidays.
          p You can keep up to date with what we’re up to by liking our #[a(href=facebook.site) Facebook Page], where we post regular video and photo updates. 
          p If at any time you would like a meeting to catch up with your child’s key worker, please contact us to arrange a convenient time.
