---
title: Meet our team
---

extends ../layouts/index

block content
  main.main
    div.main__container
      div.content
        h1 Meet our team
        p Our team at Sparks is made up of a very passionate group of people from all walks of life that have come together with an understanding that being able to play and have fun is essential to our lives. We’re here to make sure your children’s time at Sparks is all-round the best it can be.
        p We’re always on the lookout for new faces to join the Sparks Family. If you have an interest in working with children, whether you have the relevant experience or not, please get in touch with us.

      div.team
        article.team__member
          img(src=assetUrl('images/team/2016-01-18_11-25-13_007.jpg')).team__image
          h2.team__name Carole Theyer
          div.team__role CEO, Company Secretary & Director
        article.team__member
          img(src=assetUrl('images/team/2016-01-18_11-40-56_008.jpg')).team__image
          h2.team__name Liam Jefferies
          div.team__role General Manager & Director
        article.team__member
          img(src=assetUrl('images/team/2016-01-18_11-24-48_006.jpg')).team__image
          h2.team__name Becky Frape
          div.team__role Director & Deputy Manager
        article.team__member
          img(src=assetUrl('images/team/2015-09-23_18-01-08_011.jpg')).team__image
          h2.team__name Lucy Morgan
          div.team__role Director & Senior Playworker
        article.team__member
          img(src=assetUrl('images/team/2016-01-18_12-41-23_009.jpg')).team__image
          h2.team__name David Baptiste
          div.team__role Director
        article.team__member
          img(src=assetUrl('images/team/2015-09-24_13-43-07_002.jpg')).team__image
          h2.team__name Chloe Blackman
          div.team__role Senior Playworker
        article.team__member
          img(src=assetUrl('images/team/2015-09-23_17-59-59_012.jpg')).team__image
          h2.team__name Marie Edwards
          div.team__role Senior Playworker
        article.team__member
          img(src=assetUrl('images/team/2016-01-11_15-08-33_015.jpg')).team__image
          h2.team__name Sophie Gore Browne
          div.team__role Senior Playworker
        article.team__member
          img(src=assetUrl('images/team/2015-09-23_17-58-19_013.jpg')).team__image
          h2.team__name Rosa Wilkinson
          div.team__role Playworker
        article.team__member
          img(src=assetUrl('images/team/2015-09-23_18-06-46_003.jpg')).team__image
          h2.team__name Ella Newton
          div.team__role Playworker
        article.team__member
          img(src=assetUrl('images/team/2015-09-24_18-32-03_014.jpg')).team__image
          h2.team__name Ryan Cunningham
          div.team__role Playworker
        article.team__member
          img(src=assetUrl('images/team/2015-09-23_18-02-39_004.jpg')).team__image
          h2.team__name Hannah Moylan
          div.team__role Playworker
        article.team__member
          img(src=assetUrl('images/team/2015-09-23_17-58-50_010.jpg')).team__image
          h2.team__name Jeff Emmott
          div.team__role Playworker
        article.team__member
          img(src=assetUrl('images/team/2016-01-22_13-01-48_001.jpg')).team__image
          h2.team__name Brian Titley
          div.team__role Southwest Co-operative Support Consultant
        article.team__member
          img(src=assetUrl('images/team/2016-01-22_13-01-48_005.jpg')).team__image
          h2.team__name Hilary Sudbury
          div.team__role Southwest Co-operative Support Consultant
