footer.footer
  div.footer__container
    div.footer__main
      section.footer__find-us
        h3.footer__heading Find us on
        ul.footer__networks
          li.footer__network.footer__network--facebook
            a.footer__network-link(href='//facebook.com/coopsparks') Facebook
          li.footer__network.footer__network--twitter
            a.footer__network-link(href='//twitter.com/coopsparks') Twitter
      nav.footer__useful-links
        h3.footer__heading Useful links
        div.footer__items-group
          ul.footer__items
            li.footer__item
              a.footer__link(href=pageUrl('about/index.jade')) About Sparks
            li.footer__item
              a.footer__link(href=pageUrl('clubs/index.jade')) Our clubs
            li.footer__item
              a.footer__link(href=pageUrl('about/policies-procedures.jade')) Policies & procedures
            li.footer__item
              a.footer__link(href=pageUrl('about/team.jade')) Meet our team
          ul.footer__items
            li.footer__item
              a.footer__link(href=pageUrl('clubs/after-school-club.jade')) After school club
            li.footer__item
              a.footer__link(href=pageUrl('clubs/holiday-club.jade')) Holiday club
            li.footer__item
              a.footer__link(href=pageUrl('about/index.jade#register')) Register with us
      section.footer__location
        h3.footer__heading Our address
        a.footer__location-link(href)
          address.footer__location-address
            div The Terrapin
            div Sefton Park Schools
            div St. Bartholomews Rd
            div Ashley Down
            div Bristol BS7 9BJ
          div.footer__location-map See us on a map
    div.footer__footer
      div.footer__organisation
        section.footer__contacts
          div.footer__contact.footer__contact--phone
            a.footer__contact-link(href='tel:01179244439') 0117 924 4439
          div.footer__contact.footer__contact--email
            a.footer__contact-link(href='mailto:contact@sparks-inc.org') contact@sparks-inc.org
          div.footer__contact.footer__contact--map
            a.footer__contact-link(href) See us on a map
        section.footer__legal
          div.footer__copyright © #{new Date().getUTCFullYear()} Sparks Co-operative Limited
          div.footer__company Company no. 05295308
      section.footer__assurance
        a.footer__ofsted(href)
          img.footer__ofsted-image(src=assetUrl('images/ofsted.svg') alt='Ofsted')
