---
title: Policies & procedures
---

extends ../../layouts/about

block body
  main.main
    div.main__container
      div.content
        h1 Policies & procedures
        p #[span.content__nowrap Sparks Play & Care] works to the Early Years Foundation Stage and below is a full set of policies and procedures that all staff, volunteers and children must abide by.
        p At our clubs we hope to be a partner in the shared care of your child. We believe that by keeping consistent records and using effective methods of reporting we will provide better care for your child.
        ul
          li
            a(href=pageUrl('/about/policies-procedures/admissions-fees.jade')) Admission and Fees Policy
          li
            a(href=pageUrl('/about/policies-procedures/arrivals-departures-missing-uncollected.jade')) Arrivals and Departures, Missing and Uncollected Policy
          li
            a(href=pageUrl('/about/policies-procedures/behaviour-bullying.jade')) Behaviour and Bullying Policy
          li
            a(href=pageUrl('/about/policies-procedures/child-protection.jade')) Child Protection Policy
          li
            a(href=pageUrl('/about/policies-procedures/documentation-confidentiality.jade')) Documentation and Confidentiality Policy
          li
            a(href=pageUrl('/about/policies-procedures/equal-opportunities.jade')) Equal Opportunities Policy
          li
            a(href=pageUrl('/about/policies-procedures/fire-safety.jade')) Fire Safety Policy
          li
            a(href=pageUrl('/about/policies-procedures/food-kitchen-hygiene.jade')) Food and Kitchen Hygiene Policy
          li
            a(href=pageUrl('/about/policies-procedures/health-illness-emergency.jade')) Health, Illness and Emergency Policy
          li
            a(href=pageUrl('/about/policies-procedures/health-safety.jade')) Health and Safety Policy
          li
            a(href=pageUrl('/about/policies-procedures/medication.jade')) Medication Policy
          li
            a(href=pageUrl('/about/policies-procedures/photography-electronic-devices-esafety.jade')) Photography, Electronic Devices and E-Safety Policy
          li
            a(href=pageUrl('/about/policies-procedures/physical-intervention.jade')) Physical Intervention Policy
          li
            a(href=pageUrl('/about/policies-procedures/site-security.jade')) Site Security Policy
          li
            a(href=pageUrl('/about/policies-procedures/visits-outings.jade')) Visits and Outings Policy
