mixin location (location, imagePath)
  div.location
    h3.location__name=location.label
    div.location__info
      div.location__primary
        address.location__address
          for line in location.address
            div=line
        div.location__description
          a(href=location.map) See on a map
      div.location__secondary
        div.location__phone
          div.location__label Phone
          div.location__value
            a(href=`tel:#{location.phone}`)=location.phone
        div.location__email
          div.location__label Email
          div.location__value
            a(href=`mailto:#{location.email}`)=location.email
      if imagePath
        img(src=assetUrl(imagePath)).location__image
