extends layouts/index
include mixins/post-preview

block content
  div.intro
    div.intro__container
      h1.intro__heading Welcome to Sparks!
      p.intro__body Sparks Play & Care cares for school children aged 3 to 14 years in Bristol. Our family of passionate and qualified playworkers work together to provide a variety of clubs during term time and holidays.
      a.intro__cta(href=pageUrl('about/index.jade')) Learn more about Sparks
  main.main
    div.main__container
      section.clubs.clubs--embedded
        h2.clubs__heading
          span Our clubs
        ul.clubs__list
          li.clubs__club
            a.clubs__anchor(href=pageUrl('clubs/breakfast-club.jade'))
              img.clubs__image(src=assetUrl('images/munch-flakes.png'))
              h2.clubs__name Breakfast Club
              p.clubs__price Sessions from £4.50
              p.clubs__info Learn more
          li.clubs__club
            a.clubs__anchor(href=pageUrl('clubs/after-school-club.jade'))
              img.clubs__image(src=assetUrl('images/dragon.png'))
              h2.clubs__name After School Club
              p.clubs__price Sessions from £10.00
              p.clubs__info Learn more
          li.clubs__club
            a.clubs__anchor(href=pageUrl('clubs/holiday-club.jade'))
              img.clubs__image(src=assetUrl('images/cooking.png'))
              h2.clubs__name Holiday Club
              p.clubs__price Sessions from £15.50
              p.clubs__info Learn more

      section.post-list.post-list--embedded
        h2.post-list__heading
          span From the blog
        for post in posts.slice(0, 3)
          +post-preview(post)
        a.post-list__more(href=pageUrl('blog/index.jade')) See more blog posts
